html,
html head,
html body.dark-mode-everywhere-specificity-helper,
html body.dark-mode-everywhere-specificity-helper a,
html body.dark-mode-everywhere-specificity-helper abbr,
html body.dark-mode-everywhere-specificity-helper address,
html body.dark-mode-everywhere-specificity-helper area,
html body.dark-mode-everywhere-specificity-helper article,
html body.dark-mode-everywhere-specificity-helper aside,
html body.dark-mode-everywhere-specificity-helper audio,
html body.dark-mode-everywhere-specificity-helper b,
html body.dark-mode-everywhere-specificity-helper base,
html body.dark-mode-everywhere-specificity-helper bdi,
html body.dark-mode-everywhere-specificity-helper bdo,
html body.dark-mode-everywhere-specificity-helper blockquote,
html body.dark-mode-everywhere-specificity-helper br,
html body.dark-mode-everywhere-specificity-helper button,
html body.dark-mode-everywhere-specificity-helper canvas,
html body.dark-mode-everywhere-specificity-helper caption,
html body.dark-mode-everywhere-specificity-helper cite,
html body.dark-mode-everywhere-specificity-helper code,
html body.dark-mode-everywhere-specificity-helper col,
html body.dark-mode-everywhere-specificity-helper colgroup,
html body.dark-mode-everywhere-specificity-helper data,
html body.dark-mode-everywhere-specificity-helper datalist,
html body.dark-mode-everywhere-specificity-helper dd,
html body.dark-mode-everywhere-specificity-helper del,
html body.dark-mode-everywhere-specificity-helper dfn,
html body.dark-mode-everywhere-specificity-helper div,
html body.dark-mode-everywhere-specificity-helper dl,
html body.dark-mode-everywhere-specificity-helper dt,
html body.dark-mode-everywhere-specificity-helper em,
html body.dark-mode-everywhere-specificity-helper embed,
html body.dark-mode-everywhere-specificity-helper fieldset,
html body.dark-mode-everywhere-specificity-helper figcaption,
html body.dark-mode-everywhere-specificity-helper figure,
html body.dark-mode-everywhere-specificity-helper footer,
html body.dark-mode-everywhere-specificity-helper form,
html body.dark-mode-everywhere-specificity-helper h1,
html body.dark-mode-everywhere-specificity-helper h2,
html body.dark-mode-everywhere-specificity-helper h3,
html body.dark-mode-everywhere-specificity-helper h4,
html body.dark-mode-everywhere-specificity-helper h5,
html body.dark-mode-everywhere-specificity-helper h6,
html body.dark-mode-everywhere-specificity-helper header,
html body.dark-mode-everywhere-specificity-helper hr,
html body.dark-mode-everywhere-specificity-helper i,
html body.dark-mode-everywhere-specificity-helper iframe,
html body.dark-mode-everywhere-specificity-helper img,
html body.dark-mode-everywhere-specificity-helper input,
html body.dark-mode-everywhere-specificity-helper ins,
html body.dark-mode-everywhere-specificity-helper kbd,
html body.dark-mode-everywhere-specificity-helper keygen,
html body.dark-mode-everywhere-specificity-helper label,
html body.dark-mode-everywhere-specificity-helper legend,
html body.dark-mode-everywhere-specificity-helper li,
html body.dark-mode-everywhere-specificity-helper link,
html body.dark-mode-everywhere-specificity-helper main,
html body.dark-mode-everywhere-specificity-helper map,
html body.dark-mode-everywhere-specificity-helper mark,
html body.dark-mode-everywhere-specificity-helper meta,
html body.dark-mode-everywhere-specificity-helper meter,
html body.dark-mode-everywhere-specificity-helper nav,
html body.dark-mode-everywhere-specificity-helper noscript,
html body.dark-mode-everywhere-specificity-helper object,
html body.dark-mode-everywhere-specificity-helper ol,
html body.dark-mode-everywhere-specificity-helper optgroup,
html body.dark-mode-everywhere-specificity-helper option,
html body.dark-mode-everywhere-specificity-helper output,
html body.dark-mode-everywhere-specificity-helper p,
html body.dark-mode-everywhere-specificity-helper param,
html body.dark-mode-everywhere-specificity-helper progress,
html body.dark-mode-everywhere-specificity-helper q,
html body.dark-mode-everywhere-specificity-helper rb,
html body.dark-mode-everywhere-specificity-helper rp,
html body.dark-mode-everywhere-specificity-helper rt,
html body.dark-mode-everywhere-specificity-helper rtc,
html body.dark-mode-everywhere-specificity-helper ruby,
html body.dark-mode-everywhere-specificity-helper s,
html body.dark-mode-everywhere-specificity-helper samp,
html body.dark-mode-everywhere-specificity-helper script,
html body.dark-mode-everywhere-specificity-helper section,
html body.dark-mode-everywhere-specificity-helper select,
html body.dark-mode-everywhere-specificity-helper small,
html body.dark-mode-everywhere-specificity-helper source,
html body.dark-mode-everywhere-specificity-helper strong,
html body.dark-mode-everywhere-specificity-helper sub,
html body.dark-mode-everywhere-specificity-helper sup,
html body.dark-mode-everywhere-specificity-helper table,
html body.dark-mode-everywhere-specificity-helper tbody,
html body.dark-mode-everywhere-specificity-helper td,
html body.dark-mode-everywhere-specificity-helper template,
html body.dark-mode-everywhere-specificity-helper textarea,
html body.dark-mode-everywhere-specificity-helper tfoot,
html body.dark-mode-everywhere-specificity-helper th,
html body.dark-mode-everywhere-specificity-helper thead,
html body.dark-mode-everywhere-specificity-helper time,
html body.dark-mode-everywhere-specificity-helper title,
html body.dark-mode-everywhere-specificity-helper tr,
html body.dark-mode-everywhere-specificity-helper track,
html body.dark-mode-everywhere-specificity-helper u,
html body.dark-mode-everywhere-specificity-helper ul,
html body.dark-mode-everywhere-specificity-helper var,
html body.dark-mode-everywhere-specificity-helper video,
html body.dark-mode-everywhere-specificity-helper wbr {
	background: transparent !important;
	background-repeat: no-repeat !important;
	border-color: #1c1c1c !important;
	color: #c3c3c3 !important;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.20) !important;
}

html,
html body.dark-mode-everywhere-specificity-helper div {
	background: #141414 !important;
}

html body.dark-mode-everywhere-specificity-helper pre,
html body.dark-mode-everywhere-specificity-helper code {
	background-color: #1c1c1c !important;
}

html body.dark-mode-everywhere-specificity-helper pre *,
html body.dark-mode-everywhere-specificity-helper code * {
	color: #55bb88 !important;
	text-shadow: none !important;
}

html body.dark-mode-everywhere-specificity-helper *:link,
html body.dark-mode-everywhere-specificity-helper *:link * {
	color: #55C8FF !important;
}

html body.dark-mode-everywhere-specificity-helper *:visited,
html body.dark-mode-everywhere-specificity-helper *:visited * {
	color: #FFE155 !important;
}

html body.dark-mode-everywhere-specificity-helper ::selection {
	background-color: #FF5573 !important;
	color: #0DD6EF !important;
}
